.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 10vh;
}

.header__nav {
    display: flex;
    margin-right: 2rem;
}

.header__nav__1, .header__nav__2, .header__nav__3 {
    margin-left: 1rem;
}

.header__title {
    margin-left: 2rem;
    margin-bottom: 1rem;
}