.root {
    padding: 1rem;
    font-size: 1rem;
    min-width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .root:hover {
    background: skyblue;
    cursor: pointer;
  }